@model WebApplication1.Models.FeaturesData

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FeaturesData</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hiss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hiss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balkog)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balkog)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stadsnät)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stadsnät)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tvättmaskin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tvättmaskin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Torltumlare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Torltumlare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diskmaskin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diskmaskin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comhem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comhem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Säkerhetsdörr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Säkerhetsdörr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
